@if (visible()) {
  <nav
    class="marea-dock"
    [attr.aria-label]="'landing.marea.dock.aria' | transloco"
  >
    <a
      routerLink="/"
      routerLinkActive="marea-dock__item--active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="marea-dock__item"
    >
      <mat-icon aria-hidden="true">home</mat-icon>
      <span>{{ 'landing.marea.dock.home' | transloco }}</span>
    </a>
    <a
      routerLink="/tienda"
      routerLinkActive="marea-dock__item--active"
      class="marea-dock__item"
    >
      <mat-icon aria-hidden="true">storefront</mat-icon>
      <span>{{ 'landing.marea.dock.shop' | transloco }}</span>
    </a>
    <a
      routerLink="/recetas"
      routerLinkActive="marea-dock__item--active"
      class="marea-dock__item marea-dock__item--accent"
    >
      <mat-icon aria-hidden="true">menu_book</mat-icon>
      <span>{{ 'landing.marea.dock.recipes' | transloco }}</span>
    </a>
    <button type="button" class="marea-dock__item marea-dock__item--mary" (click)="openMary()">
      <mat-icon aria-hidden="true">smart_toy</mat-icon>
      <span>{{ 'landing.marea.dock.mary' | transloco }}</span>
    </button>
  </nav>
}
