<section class="marea-values" id="marea-values" aria-labelledby="marea-values-title">
  <h2 id="marea-values-title" class="marea-values__title">{{ 'landing.marea.values.title' | transloco }}</h2>
  <div class="marea-values__grid">
    <article class="marea-values__card">
      <mat-icon class="marea-values__icon" aria-hidden="true">{{ icons[0] }}</mat-icon>
      <h3 class="marea-values__card-title">{{ 'landing.marea.values.v1Title' | transloco }}</h3>
      <p class="marea-values__desc">{{ 'landing.marea.values.v1Desc' | transloco }}</p>
    </article>
    <article class="marea-values__card">
      <mat-icon class="marea-values__icon" aria-hidden="true">{{ icons[1] }}</mat-icon>
      <h3 class="marea-values__card-title">{{ 'landing.marea.values.v2Title' | transloco }}</h3>
      <p class="marea-values__desc">{{ 'landing.marea.values.v2Desc' | transloco }}</p>
    </article>
    <article class="marea-values__card">
      <mat-icon class="marea-values__icon" aria-hidden="true">{{ icons[2] }}</mat-icon>
      <h3 class="marea-values__card-title">{{ 'landing.marea.values.v3Title' | transloco }}</h3>
      <p class="marea-values__desc">{{ 'landing.marea.values.v3Desc' | transloco }}</p>
    </article>
    <article class="marea-values__card">
      <mat-icon class="marea-values__icon" aria-hidden="true">{{ icons[3] }}</mat-icon>
      <h3 class="marea-values__card-title">{{ 'landing.marea.values.v4Title' | transloco }}</h3>
      <p class="marea-values__desc">{{ 'landing.marea.values.v4Desc' | transloco }}</p>
    </article>
  </div>
</section>
