<section class="marea-timeline" id="marea-legacy" aria-labelledby="marea-timeline-title">
  <div class="marea-timeline__header">
    <h2 id="marea-timeline-title" class="marea-timeline__title">{{ 'landing.marea.timeline.title' | transloco }}</h2>
    <p class="marea-timeline__lead">{{ 'landing.marea.timeline.lead' | transloco }}</p>
  </div>
  <ol class="marea-timeline__list">
    <li class="marea-timeline__item">
      <span class="marea-timeline__marker" aria-hidden="true"><mat-icon>explore</mat-icon></span>
        <div class="marea-timeline__card">
          <img
            class="marea-timeline__thumb"
            [src]="img.e1"
            width="720"
            height="400"
            loading="lazy"
            decoding="async"
            [alt]="'landing.marea.images.timelineE1' | transloco"
          />
          <span class="marea-timeline__year">{{ 'landing.marea.timeline.e1Year' | transloco }}</span>
        <h3 class="marea-timeline__item-title">{{ 'landing.marea.timeline.e1Title' | transloco }}</h3>
        <p class="marea-timeline__desc">{{ 'landing.marea.timeline.e1Desc' | transloco }}</p>
      </div>
    </li>
    <li class="marea-timeline__item">
      <span class="marea-timeline__marker" aria-hidden="true"><mat-icon>home</mat-icon></span>
        <div class="marea-timeline__card">
          <img
            class="marea-timeline__thumb"
            [src]="img.e2"
            width="720"
            height="400"
            loading="lazy"
            decoding="async"
            [alt]="'landing.marea.images.timelineE2' | transloco"
          />
          <span class="marea-timeline__year">{{ 'landing.marea.timeline.e2Year' | transloco }}</span>
        <h3 class="marea-timeline__item-title">{{ 'landing.marea.timeline.e2Title' | transloco }}</h3>
        <p class="marea-timeline__desc">{{ 'landing.marea.timeline.e2Desc' | transloco }}</p>
      </div>
    </li>
    <li class="marea-timeline__item">
      <span class="marea-timeline__marker" aria-hidden="true"><mat-icon>eco</mat-icon></span>
        <div class="marea-timeline__card">
          <img
            class="marea-timeline__thumb"
            [src]="img.e3"
            width="720"
            height="400"
            loading="lazy"
            decoding="async"
            [alt]="'landing.marea.images.timelineE3' | transloco"
          />
          <span class="marea-timeline__year">{{ 'landing.marea.timeline.e3Year' | transloco }}</span>
        <h3 class="marea-timeline__item-title">{{ 'landing.marea.timeline.e3Title' | transloco }}</h3>
        <p class="marea-timeline__desc">{{ 'landing.marea.timeline.e3Desc' | transloco }}</p>
      </div>
    </li>
    <li class="marea-timeline__item">
      <span class="marea-timeline__marker" aria-hidden="true"><mat-icon>flag</mat-icon></span>
        <div class="marea-timeline__card">
          <img
            class="marea-timeline__thumb"
            [src]="img.e4"
            width="720"
            height="400"
            loading="lazy"
            decoding="async"
            [alt]="'landing.marea.images.timelineE4' | transloco"
          />
          <span class="marea-timeline__year">{{ 'landing.marea.timeline.e4Year' | transloco }}</span>
        <h3 class="marea-timeline__item-title">{{ 'landing.marea.timeline.e4Title' | transloco }}</h3>
        <p class="marea-timeline__desc">{{ 'landing.marea.timeline.e4Desc' | transloco }}</p>
      </div>
    </li>
  </ol>
</section>
