@if (pwa.promptVisible()) {
  <div class="marea-pwa-snack" role="status" aria-live="polite">
    <div class="marea-pwa-snack__alert">
      <mat-icon class="marea-pwa-snack__icon" aria-hidden="true">
        {{ pwa.iosHint() ? 'ios_share' : 'get_app' }}
      </mat-icon>
      <p class="marea-pwa-snack__msg">
        @if (pwa.iosHint()) {
          {{ 'pwa.installIosHint' | transloco }}
        } @else {
          {{ 'pwa.installMessage' | transloco }}
        }
      </p>
      <div class="marea-pwa-snack__actions">
        <button
          mat-button
          type="button"
          class="marea-pwa-snack__btn"
          (click)="onDismiss()"
        >
          {{ 'pwa.installLater' | transloco }}
        </button>
        @if (!pwa.iosHint()) {
          <button
            mat-stroked-button
            type="button"
            class="marea-pwa-snack__btn marea-pwa-snack__btn--install"
            (click)="onInstall()"
          >
            {{ 'pwa.installCta' | transloco }}
          </button>
        }
      </div>
    </div>
  </div>
}
